* {
    margin: 0%;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

body {
    background-color: #FAF8F5;
}

.logo {
    background-color: #0C4DA2;

    h1 {
        color: white;
        display: flex;
        gap: 30px;
        align-items: center;
        margin-left: 40px;
        font-size: 32px;
    }

    img {
        height: 80px;
        width: 70px;
    }

    .textLogo {
        color: white;
        margin-left: 20px;
        padding: 20px;
    }

}

.text {
    margin-left: 40px;
    margin-top: 20px;
}

.div-pai {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 40px;
    gap: 30px;
    box-sizing: border-box;
}

.calendario {
    flex: 1;

    button {
        width: 100%;
        height: 100%;
        border: 2px solid #0C4DA2;
        border-radius: 8px;
        padding: 16px;
        cursor: pointer;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.20);
    }
}

.painel {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 100%;
    text-align: center;

    button {

        border: 2px solid #0C4DA2;
        border-radius: 8px;
        padding: 16px;
        cursor: pointer;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.20);

        img {
            width: 88px;
            height: 88px;
        }

        h3 {
            color: #0C4DA2;
            padding: 20px;
            font-size: 18px;
        }
    }
}

button:hover {
    box-shadow:
        0 0 20px #0C4DA2;
}