* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    color: #1f2937;
}


h2 {
   margin-top: 20px;
   margin-left: 40px;
   font-size: 20px;
}

/* Tabela de horários*/
.tabelaPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.09);
}

.informacao {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
}

.informacao div,
.informacao td,
.informacao th
 {
    background: white;
    padding: 12px;
    border: 1px solid #6C757D;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.151);
}

.tabelaPrincipal th {
    background-color:  #005baa;
    color: white;
    text-align: center;
     text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
}

td:first-child {
    font-weight: 750;
    background-color: #ededec;
    width: 150px;
}

td:not(:first-child):not(:empty) {
    background-color: #3f83f756;
}
/* Fim da tabela de horarios*/