body{
      
    width: 100vw;
    height: 100vh;

    background: linear-gradient(to left ,#0C4DA2, #0b2f5e, #031b3b );
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;

}


.login_sec{


    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 32px;
    transform: scale(1.1);
   

}

.container_login_logo{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    flex-direction: column;
}
.login_logo {
    
    padding-bottom: 15px;
    width: 55px;
    height: 82px;
    animation: pulsarLogo 1.5s ease-in-out infinite;
    cursor: pointer;
}


@keyframes pulsarLogo {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1); 
    }
}
.container_login_imgs{

    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.login_tittle{
    display: block;
    font-size: 22px;
    color:#0C4DA2;
    font-weight: 700;


}
.container_element_login{
}

.login_elements{

    margin-bottom: 20px;
    
}


.login_input{

    border: 1px solid #6C757D;
    border-radius: 8px;
    padding:10px;
    color: #212529;
    transition-duration: 1s;

    
}
.login_input:focus{

    transform: scale(1.1);
    border-color: #0C4DA2;
    transition-duration: 1s;
    outline: none;
}

.login_img{

    width: 350px;
    height: 350px;
    margin-right: 40px;
}
.login_posi{

}

.login{


}

.login_redi{

    margin-top: 8px;
    display: block;
    text-decoration: none;
    font-size: 12px;
    color: #6C757D;
    transition-duration: 1s;


}
.login_redi:hover{

    color: #0C4DA2;
    transform: scale(1.03);
    transition-duration: 1s;
}

.login_button{

        width: 100%;
        background-color:#0C4DA2;
        border: none;
        border-radius: 8px;
        padding: 15px;
        transition-duration: 1s;


}
.login_button:hover{

    transform: scale(1.1);
    transition-duration: 1s;
    text-shadow: 0 0 5px rgb(255, 255, 255);

    cursor: pointer;

}
.login_dash{

    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
