* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: #f4f6f8;
  color: #1f2937;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.conteudo {
  flex: 1;
}

/* Barra principal (Do topo da página*/
.barra-principal {
  background-color: white;
  height: 74px;
  padding: 0 60px;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.marca {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo-ufac {
  height: 30px;
  width: auto;
}

.linha {
  width: 1px;
  height: 28px;
  background-color: #e5e7eb;
}

.nome-sistema {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 13px;
  font-weight: bold;
  color: #6b7280;
}

.menu-topo {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-topo li {
  list-style: none;
}

.menu-topo a {
  display: block;
  padding: 12px 18px;
  border-radius: 12px;
  text-decoration: none;
  color: #1f2937;
  font-weight: 500;
}

.menu-topo a:hover {
  background-color: #eef6ff;
  color: #005baa;
}

.menu-topo a.ativo {
  background-color: #eef3fb;
  color: #2f5597;
  font-weight: bold;
}

.area-usuario {
  display: flex;
  align-items: center;
  gap: 14px;
}

.icone-notificacao {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icone-modo-escuro {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-usuario {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Termina aqui a Barra principal */

/* CSS do Rodapé */
.rodape {
  background-color: white;
  margin-top: 50px;
  padding: 36px 60px 24px;
  border-top: 1px solid #e5e7eb;
}

.rodape-coluna a {
  display: block;
  color: #6b7280;
  font-size: 14px;
  margin-bottom: 10px;
  text-decoration: none;
}

.rodape-coluna a:hover {
  color: #005baa;
}

.rodape-conteudo {
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr 1fr 1fr;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 28px;
  border-bottom: 1px solid #e5e7eb;
}

.logo-rodape {
  height: 36px;
  width: auto;
  margin-bottom: 16px;
}

.rodape-coluna h3 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #111827;
  margin-bottom: 16px;
}

.rodape-coluna p {
  color: #6b7280;
  font-size: 14px;
  margin-bottom: 10px;
}

.rodape-baixo {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

.rodape-baixo p {
  color: #6b7280;
  font-size: 14px;
}
/* Termina aqui o CSS do Rodapé  */