/*Use este arrquivo para aplicar estilos globais (q vão ser utilizados em tds os arquivos *.css)*/

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'Inter', sans-serif;
font-weight: 600;

}