.cartoes {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
    align-items: center;
    justify-content: center;
}
.cartao {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  align-items: center;
}
.icone-cartao {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  align-items: center;

}