<nav class="barra-principal">

  <div class="marca">
    <img src="../assets/Logo Ufac (2).svg" alt="Logo da UFAC" class="logo-ufac">
    <div class="linha"></div>
    <div class="nome-sistema"></div>
  </div>

  <ul class="menu-topo">
    <li><a href="inicio.html">Início</a></li>
    <li><a href="portal_aluno.html">Portal do Aluno</a></li>
    <li><a href="biblioteca.html">Biblioteca</a></li>
    <li><a href="#">Calendário</a></li>
    <li><a href="https://sistemas.ufac.br/eticket/login/" target="_blank" rel="noopener noreferrer">Ticket RU</a></li>
    <li><a href="noticias.html">Notícias</a></li>
  </ul>
  
  <div class="area-usuario">
    <img src="../assets/ícones/portal/modo-escuro.png" alt="Modo Escuro" class="icone-modo-escuro">
    <img src="../assets/ícones/portal/sino.png" alt="Notificações" class="icone-notificacao">

    <a href="perfil.html" class="botao-perfil">
      <span class="avatar-iniciais">RB</span>
      <strong>Rani</strong>
    </a>
  </div>

</nav>